{% extends "index.html" %} {% block head_content %}
<title>Platzigram feed</title>
{% endblock %} {% block container %}
<div class="posts">
  <div class="posts-container">
    {% for post in posts %}
    <div class="post-item">
      <div class="post-item__header">
        <img src="{{post.user.picture}}" alt="{{post.user.name}}" />
        <div class="post-item__header--title">
          <h5>{{post.user.name}}</h5>
          {{post.timestamp}}
        </div>
      </div>
      <div class="post-item__content">
        <img src="{{post.photo}}" alt="{{post.title}}" />
        <h6>{{post.title}}</h6>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
